<div class="container my-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title font-weight-bold">Video Idea</h4>
      <form onsubmit="editIdea()">
        <div class="form-group">
          <label for="inputTitle">Title</label>
          <input type="text" class="form-control" id="inputTitle" value="{{ideaTitle}}" required>
        </div>
        <div class="form-group">
          <label for="inputDetail">Detail</label>
          <textarea class="form-control" id="inputDetail" rows="5" required>{{ideaDetail}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<script>
  function editIdea() {
    let title = document.getElementById('inputTitle').value;
    let detail = document.getElementById('inputDetail').value;
  }
</script>