<div class="container my-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title font-weight-bold">Video Idea</h4>
      <form onsubmit="return false">
        <div class="form-group">
          <label for="inputTitle">Title</label>
          <input type="text" class="form-control" id="inputTitle" value="{{ideaTitle}}" required>
        </div>
        <div class="form-group">
          <label for="inputDetail">Detail</label>
          <textarea class="form-control" id="inputDetail" rows="5" required>{{ideaDetail}}</textarea>
        </div>
        <button type="submit" onclick="editIdea(this)" id="{{id}}" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<script>
  function editIdea(elm) {
    let title = document.getElementById('inputTitle').value;
    let detail = document.getElementById('inputDetail').value;
    console.log(title + " " + detail);
    fetch('http://localhost:3000/idea/edit/' + elm.id, {
      method: 'PUT',
      headers: {
        "Content-Type": "application/json",
        'auth': '1234'
      },
      body: JSON.stringify({
        title: title,
        detail: detail
      })
    })
    .then(function (data) {
      if(data.status === 200) {
        showAlert('alert-success', 'Successfully edited the Idea.');
        window.location.replace("http://localhost:3000/ideas");
      }
      else{
        console.log('Request Failed: ', data);
      }
    })
    .catch(function (error) {
      console.log('Request failure: ', error);
    });
  }
</script>