<div class="container my-3">
  <div class="jumbotron">
    <h1 class="display-3 text-center">Welcome</h1>
    <p class="display-5 text-center">Jot down ideas for your next YouTube videos.</p>
    <div class="d-flex justify-content-center">
      <a class="btn btn-primary btn-lg" href="/idea/add" role="button">Add Video Idea</a>
    </div>
  </div>
</div>